%h1.header= "More #{@query.titleize}"

%div.books
  -@books.each do |book|
    %div.book
      %a.title{:href => book["book"]["permalink_url"]}
        %img{:src => book["book"]["cover_url"]}

%p.thanks Data courtesy of Readmill
