@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/LeFlHvsZjXu2c3ZRgBq9nLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

html {
  width: 3000px;
  font-family: 'Noto Sans', sans-serif;
  padding: 25px;
}
body {
  margin: 0 auto;
}
.books {
  overflow: auto;
  padding-top: 75px;
}
.book {
  display: inline;
  margin: 0 5px;
}
.author {
  /*display: block;*/
}

a {
  text-decoration: none;
}

.header, .thanks {
  position: fixed;
}